/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ******************************************************************* */
/* MY CSS */
:root {
  --color-black: #0D0D0D;
  --color-red: #B93A57;
  --color-blue: #072757;
  --color-white: #fff;
}


html {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
}

body {
  box-sizing: border-box;
  background-color: var(--color-blue); 
}

#title-container {
  width: 60%;
  margin: 5rem auto;
}

#title {
  text-align: center;
  font-size: 4rem;
  color: var(--color-white);
}

#form-container {
  width: 40%;
  margin: 3rem auto;
  display: flex;
  justify-content: center;
}

form {
  width: 40%;
}

#city {
  display: block;
  font-size: 1.5rem;
  font-family: inherit;
  width: 100%;
  border-radius: 2px;
  border:none;
  border-bottom: 3px solid var(--color-white);
  background-color: var(--color-blue);
  transition: all .5s;
  color: var(--color-white);
}

#city:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(var(--color-black), .2);
  border-bottom: 2px solid var(--color-white);
  background-color: var(--color-blue);
}

#city::-webkit-input-placeholder {
  color: rgba(165, 162, 162, 0.822);
}

/******************************************************************************************************/
/* Button style */
#button-container {
  margin: 2rem auto;
  width: 30%;
  text-align: center;
}

.btn, 
.btn:link, 
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  margin: 0 auto;
  padding: 1rem 2rem;
  display: inline-block;
  border-radius: 2rem;
  transition: all .2s;
  font-size: 1.6rem;
  color: var(--color-white);
  border: none;
  width: 8rem;
  background-color: var(--color-red);
}

.btn:active,
.btn:focus {
  outline: none;
  transform: translateY(-.1rem);
  box-shadow: 0 .5rem 1rem rgba(var(--color-black), .2);
}

/********************************************************************************/
/* Output style */
.output {
  width: 50%;
  margin: 5rem auto;
}

.output-stats {
  margin: 5rem auto;
  text-align: center;
}

.city-name {
  font-size: 5rem;
  color: var(--color-white);
  text-align: center;
  margin-top: 4rem;
}

#date {
  margin-top: 2rem;
  font-size: 2.5rem;
  color: var(--color-white);
  text-align: center;
}

.weather-icon {
  height: 10rem;
  margin: 2rem auto 2rem auto;
  display: block;
}

.weather-description {
  font-size: 1.6rem;
  color: var(--color-white);
  text-align: center;
  margin-top: 4rem;
}

.stats {
  font-size: 1.6rem;
  color: var(--color-white);
}

.stats span {
  display: inline-block;
  padding: 1rem 2rem 1rem 2rem;
}

.stats img {
  height: 4rem;
}